/* .img3 {
  grid-column: auto / span 2;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
} */

.contentOne {
  display: flex;
  justify-content: flex-end;
}

.contentOne .img1 {
  margin-right: 3rem;
}

.contentOne .img3 {
  background-color: black;
  height: 235px;
  width: 627px;
  margin-top: 2rem;
}

.contentOne .img5 {
  margin-top: 3.5rem;
}

.contentTwo{
  display: flex;
  justify-content: center;
}

.contentTwo .img1 {
  margin-right: 2.5rem;
}

.contentTree {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}

.contentTree .img1{
  background-color: black;
  height: 235px;
  width: 500px;
  margin-right: 2rem;
}
.contentTree .img3{
  margin-left: 9rem;
}

.contentFour{
  display: flex;
  }
  .contentFour_1 {
  margin-top: 2rem;
  }
  
  .contentFour, .contentFive{
    display: flex;
  }
  .contentFour_1, .contentFour_2 {
    margin-top: 2rem;
  }
  
  .contentFour .img1{
    margin-right: 2rem;
    margin-top: 5rem;
  }
  
  .contentFour .img2{
    margin-top: 9rem;
  }
  
  .contentFive .img1 {
    margin-right: 2rem;
    margin-top: 3rem;
  }

  .margin-img {
    margin-top: 25px;
  }